.page-inner {
  padding: 12px 0 64px;
  justify-content: center;

  h1 {
    font-size: 36px;
    margin: 12px 0 12px;

    ins {
      font-family: "Roboto Mono";
      text-decoration: none;
    }
  }
}
