@use "@/mixins/app";

.layout-nav {
  display: flex;
  align-items: center;
  height: 100%;

  .logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
    padding: 0;
    color: inherit;

    &-icon {
      font-size: 24px;
      color: #2a5ada;
    }

    &-text {
      width: 64px;
      height: auto;
    }
  }
}
